{% extends "base.html" %}

{% block title %}traipor{% endblock %}

{% block page_content %}
<h1>Impressum</h1>

<p>Verantwortlich für dieses Angebot gemäß § 5 TMG / § 55 RStV:</p>
<p>Prof. Dr. Alexander Asteroth,</p>
<p>Bonn-Rhine-Sieg University of Applied Sciences</p>
<p>Department of Computer Science</p>
<p>Grantham-Allee 20</p>
<p>53754 Sankt Augustin</p>
<p>Germany</p>

<p>+49 2241 865 255</p>
<p>alexander.asteroth_at_h-brs.de</p>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
