<p>
I. Der Anbieter, sowie seine gesetzlichen Vertreter und Erfüllungsgehilfen
haftet nur für Vorsatz oder grobe Fahrlässigkeit. Diese Haftungsbegrenzung gilt
nicht, soweit es sich um eine Verletzung des Lebens, des Körpers oder der
Gesundheit handelt.
</p>
<p>
II. Die von diesem Angebot generierten Trainingspläne sind nur als kritisch zu
prüfender Vorschlag anzusehen. Der Nutzer hat sicherzustellen, gegebenenfalls mit
ärztlicher Hilfe, dass er gesundheitlich den vorgeschlagenen
Trainingsbelastungen gewachsen ist und diese für ihn gesundheitlich unbedenklich
sind.
</p>
