<h4>Scope</h4>

<p>
These privacy terms explain the nature, scope and purpose of data collection and
use of personal data by the responsible provider in person of Prof. Dr.
Alexander Asteroth on this website (in following "service").
</p>

Contact:<br>
Prof. Dr. Alexander Asteroth,<br>
Bonn-Rhine-Sieg University of Applied Sciences<br>
Department of Computer Science<br>
Grantham-Allee 20<br>
53754 Sankt Augustin<br>
Germany<br>
+49 2241 865 255<br>
alexander.asteroth_at_h-brs.de<br>
<br>
<p>
The legal basis of data protection can be found in the Federal Data Protection
Act (Act), the Data Protection Act of the State of NRW and the German Telemedia
Act (TMG).
</p>

<h4>Access Data/Server-Logfiles</h4>

<p>
The provider collects data on each access to this service (so-called
Server log files). The access data includes:
</p>

<p>
Name of the requested web page, file, date and time of the request, transferred
amount of data, notification of successful request, browser type along with
version, operating system of the user, referrer URL (previously visited page) and the
abbreviated IP-address.
</p>

<p>
The provider uses the log data only for statistical purposes for the operation,
the security and the optimization of the service. The Provider reserves the
right, to check the Log Files later, if due to concrete indications a reasonable
suspicion of illegal use exists.
</p>


<h4>Handling of personal data</h4>

<p>
Personal information is information that can be used to identify a person, ie
information that can be traced back to a person. This includes the name, the
e-mail address or phone number. Further data about preferences, hobbies,
memberships or which websites someone visited are considered personal data.
</p>

<p>
The provider will only collect, use and pass on personal data if permitted by
law or the user complies with the collection.
</p>


<h4>Contact</h4>

<p>
When contacting the provider (for example, using the contact form or e-mail),
the information of the user is stored for the purpose of processing the request
and for any follow-up questions that may arise.
</p>


<h4>Cookies</h4>

<p>
Cookies are small files that make it possible to store device specific
information on the device of the user (PC, phone, etc.). They are used for the
user-friendliness of websites (e.g. storing of login data).  They also serve to
collect statistical data about the useage of a website, to analyze and improve
the service. Users can influence the use of cookies. Most browsers offer an
option to restrict or disable the storage of cookies.  However, it is pointed
out that the use and more particularly the comfort without cookies are limited.
</p>


<h4>Registration Process</h4>

<p>
The data entered at registration is used for the purpose of using the service.
Users can be notified via email about information regarding the service or
registration or changes of the scope of the service or technical conditions.
The collected data is made obvious in the process of registration. This includes

<ul>
<li>username (nickname)</li>
<li>email-address</li>
<li>password</li>
<li>gender</li>
<li>year of birth</li>
<li>size</li>
<li>weight</li>
</ul>
</p>

<h4>Processing and use of data</h4>

<p>
The username and email-address are used for account management and contacting
the user. The collected training data is needed to derive the parameters of the
used training models. Further the training data and the personal data about
age, gender, size and weight are used for other training and modeling science as
part of the Stella research project. There's no disclosure of information to
third parties as far as there is no legal obligation. If a user deletes his/her
account all data that is linked to the account is deleted as well. With the end
of the research project Stella all remaining data will be deleted.
</p>

<h4>Processing and use of data in the context of scientific publications</h4>

<p>
The collected data of registered users can be published in scientific
documentations and publications only in anonymised form.
</p>

<h4>Information, revocation, changes, authorizations and updates</h4>

<p>
The user has the right to request and receive information for free about the
stored personal data about him/her.
Additionally the user has the right to correction of incorrect data, blocking
and deletion of his/her personal data as far as no legal obligation of data
retention exists. Requests can be send to the provider via email to the address
traipor_at_inf.fh-bonn-rhein-sieg.de
</p>

<p>
These privacy terms are based on the privacy terms template of lawyer Thomas
Schwenke - <a href="http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/">I LAW it</a>
</p>
