<h4>Geltungsbereich</h4>

<p>
Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke der
Erhebung und Verwendung personenbezogener Daten durch den verantwortlichen
Anbieter in Person von Prof. Dr. Alexander Asteroth auf dieser Website (im
folgenden “Angebot”) auf.
</p>

Kontakt:<br>
Prof. Dr. Alexander Asteroth,<br>
Bonn-Rhine-Sieg University of Applied Sciences<br>
Department of Computer Science<br>
Grantham-Allee 20<br>
53754 Sankt Augustin<br>
Germany<br>
+49 2241 865 255<br>
alexander.asteroth_at_h-brs.de<br>
<br>
<p>
Die rechtlichen Grundlagen des Datenschutzes finden sich im
Bundesdatenschutzgesetz (BDSG), dem Datenschutzgesetz des Landes NRW und dem
Telemediengesetz (TMG).
</p>

<h4>Zugriffsdaten/ Server-Logfiles</h4>

<p>
Der Anbieter erhebt Daten über jeden Zugriff auf das Angebot (so genannte
Serverlogfiles). Zu den Zugriffsdaten gehören:
</p>

<p>
Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene
Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das
Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite) und die
gekürzte IP-Adresse.
</p>

<p>
Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen zum
Zweck des Betriebs, der Sicherheit und der Optimierung des Angebotes. Der
Anbieterbehält sich jedoch vor, die Protokolldaten nachträglich zu überprüfen,
wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer
rechtswidrigen Nutzung besteht.
</p>


<h4>Umgang mit personenbezogenen Daten</h4>

<p>
Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person
bestimmbar ist, also Angaben, die zurück zu einer Person verfolgt werden können.
Dazu gehören der Name, die Emailadresse oder die Telefonnummer. Aber auch Daten
über Vorlieben, Hobbies, Mitgliedschaften oder welche Webseiten von jemandem
angesehen wurden zählen zu personenbezogenen Daten.
</p>

<p>
Personenbezogene Daten werden von dem Anbieter nur dann erhoben, genutzt und
weiter gegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die
Datenerhebung einwilligen.
</p>


<h4>Kontaktaufnahme</h4>

<p>
Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular oder
E-Mail) werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage sowie für
den Fall, dass Anschlussfragen entstehen, gespeichert.
</p>


<h4>Cookies</h4>

<p>
Cookies sind kleine Dateien, die es ermöglichen, auf dem Zugriffsgerät der
Nutzer (PC, Smartphone o.ä.) spezifische, auf das Gerät bezogene Informationen
zu speichern. Sie dienen zum einem der Benutzerfreundlichkeit von Webseiten und
damit den Nutzern (z.B. Speicherung von Logindaten). Zum anderen dienen sie, um
die statistische Daten der Webseitennutzung zu erfassen und sie zwecks
Verbesserung des Angebotes analysieren zu können. Die Nutzer können auf den
Einsatz der Cookies Einfluss nehmen. Die meisten Browser verfügen eine Option
mit der das Speichern von Cookies eingeschränkt oder komplett verhindert wird.
Allerdings wird darauf hingewiesen, dass die Nutzung und insbesondere der
Nutzungskomfort ohne Cookies eingeschränkt werden.
</p>


<h4>Registrierfunktion</h4>

<p>
Die im Rahmen der Registrierung eingegebenen Daten werden für die Zwecke der
Nutzung des Angebotes verwendet. Die Nutzer können über angebots- oder
registrierungsrelevante Informationen, wie Änderungen des Angebotsumfangs oder
technische Umstände per E-Mail informiert werden. Die erhobenen Daten sind aus
der Eingabemaske im Rahmen der Registrierung ersichtlich. Dazu gehören
<ul>
<li>Nutzername (Nickname)</li>
<li>Email-Adresse</li>
<li>Passwort</li>
<li>Geschlecht</li>
<li>Geburtsjahr</li>
<li>Größe</li>
<li>Gewicht</li>
</ul>
</p>

<h4>Verarbeitung und Nutzung der Daten</h4>

<p>
Der Username und die email-Adresse werden zur Verwaltung des Accounts und zur
Kontaktaufnahme genutzt.
Die im Rahmen dieses Web-Portals erhobenenen Trainingsdaten werden benötigt, um
aus ihnen die für die benutzten Trainingsmodelle notwendigen Modellparameter
abzuleiten.
Darüber hinaus werden die Trainingsdaten zusammen mit den persönlichen Angaben
über Alter, Geschlecht, Größe und Gewicht für weitere Trainings- und Modellforschung im
Rahmen des Forschungsprojektes <a href="http://stella-mobility-de.weebly.com/">Stella</a> genutzt.
Es erfolgt keine Weitergabe an Dritte, soweit keine gesetzliche Verpflichtung
dazu besteht.
Alle einem Account zugeordneten Daten werden durch die vom Nutzer vorgenommene
Löschung des Accounts ebenfalls gelöscht.
Spätestens jedoch nach Beendigung des Forschungsprojektes Stella.
</p>

<h4>Verarbeitung und Nutzung der Daten im Rahmen wissenschaftlicher Publikationen</h4>

<p>
Die von registrierten Nutzern erhobenen Daten können im Rahmen einer
wissenschaftlichen Dokumentation und Publikation in ausschließlich
anonymisierter Form veröffentlicht werden.
</p>

<h4>Auskunft, Widerruf, Änderungen, Berichtigungen und Aktualisierungen</h4>

<p>
Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die
personenbezogenen Daten, die über ihn gespeichert wurden. Zusätzlich hat der
Nutzer das Recht auf Berichtigung unrichtiger Daten, Sperrung und Löschung
seiner personenbezogenen Daten, soweit dem keine gesetzliche
Aufbewahrungspflicht entgegensteht. Entsprechende Anfragen können an den
Betreiber über die Email-Adresse traipor_at_inf.fh-bonn-rhein-sieg.de gestellt
werden.
</p>

<p>
Diese Datenschutzerklärung basiert auf dem
Datenschutz-Muster von Rechtsanwalt Thomas Schwenke - <a href="http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/">I LAW it</a>
</p>
